* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.home {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.header {
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    background-color: black;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header h1 .surname {
    color: blue;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}


.hero h2 {
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: calc(20px + 3.2vw);
}

.hero h2 span {
    color: blue;
}
  
.hero p {
    color: white;
    line-height: 1.6;
    font-family: 'Amatic SC', cursive;
    font-size: calc(14px + 0.5vw);
    text-align: center;
    padding: 8px;
}

.socials ul {
    list-style: none;
}

.socials {
    top: 60%;
    position: absolute;
    left: -11rem;
    -webkit-animation: social-links 0.5s;
            animation: social-links 0.5s;
}  

.socials ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    padding: 20px;
    display: block;
    width: 200px;
    text-align: right;
    font-weight: bold;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
  
.socials ul li a i {
    padding-left: 24px;
}
  
.socials ul li .linkedin {
    background: #0077b5;
}
  
.socials ul li .github {
    background: #2e3031;
}
  
.socials ul li .email {
    background: #e44e58;
}

.socials ul li a:hover {
    -webkit-transform: translate(120px, 0);
            transform: translate(120px, 0);
}

#about {
    background-color: darkgrey;
    height: 55vh;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

#skills {
    background-color: black;
    font-family: 'Amatic SC', cursive;
    color: white;
}

#projects {
    background-color: darkgrey;
    font-family: 'Amatic SC', cursive;
}

#contact {
    background-color: black;
    font-family: 'Amatic SC', cursive;
    color: white;
}

h3 {
    padding-left: 15px;
    padding-top: 15px;
    font-size: calc(20px + 0.5vw);
}

h3 span {
    color: blue;
}

.container-about {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    display: grid;
    grid-template-areas: 
    "img"
    "txt";
}

#about-me {
    grid-area: txt;
}

#img-ibrahim {
    grid-area: img;
}

.container-about img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

