* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: darkgrey;
    font-family: 'Amatic SC', cursive;
}

#home {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header div ul li a {
    color: white;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    text-align: center;
    color: white;
    font-size: calc(20px + 3.2vw);
}

.hero h2 span {
    color: blue;
}

.socials ul {
    list-style: none;
}

.socials {
    top: 60%;
    position: absolute;
    left: -11rem;
    -webkit-animation: social-links 0.5s;
    animation: social-links 0.5s;
}

.socials ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    display: block;
    width: 200px;
    text-align: right;
    font-weight: bold;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.socials ul li a i {
    padding-left: 24px;
}

.socials ul li .linkedin {
    background: #0077b5;
}

.socials ul li .github {
    background: #2e3031;
}

.socials ul li .email {
    background: #e44e58;
}

.socials ul li a:hover {
    -webkit-transform: translate(120px, 0);
    transform: translate(120px, 0);
}

.arrow {
    top: 90%;
    position: absolute;
    left: 50rem;
    animation: fadeDown 1s ease-in both ;
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 

h3 {
    padding-left: 15px;
    padding-top: 15px;
    font-size: calc(20px + 0.5vw);
}

#about {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35vh;
    width: 100%;
    display: grid;
    grid-template-columns: 12% 13% 75%;
    grid-template-areas:
        "heading img txt";
}

.title-left {
    grid-area: heading;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img-ibrahim {
    grid-area: img;
    border-left: 3px solid black;
    padding: 15px;
}

.text {
    grid-area: txt;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    background-color: black;
    height: 55vh;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-areas:
        "heading items";
}

.skills-container {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: items;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 3px solid white;
}

.skills-sub-container {
    width: 20%;
    height: 40vh;
    background-color: darkgray;
}

.skills-sub-container ul {
    list-style: none;
    font-size: medium;
}

.skills-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.sub-heading {
    font-size: x-large;
    margin-top: 15px;
}

#work {
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-areas:
    "heading work";
}

.projects {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-area: work;
    border-left: 3px solid black;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 300px 300px;
    column-gap: 10px;
    row-gap: 15px;
    display: grid;
    grid-template-areas: 
    "P1 P1"
    "P2 P3"
    "P4 P5";
}

#P1 {
    grid-area: P1;
    background-image: url("../images/Project-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    filter: brightness(50%);
}

#P1:hover{
    filter:brightness(100%);
    transition: filter 0.7s ease-in;
}

#P2 {
    grid-area: P2;
    background-image: url("../images/Project-2.png");
    border-radius: 30px;
    cursor: pointer;
    filter: brightness(50%);
}

#P2:hover{
    filter:brightness(100%);
    transition: filter 0.7s ease-in;
}

#P3 {
    grid-area: P3;
    background-image: url("../images/Project-3.png");
    border-radius: 30px;
    cursor: pointer;
    filter: brightness(50%);
}

#P3:hover{
    filter:brightness(100%);
    transition: filter 0.7s ease-in;
}

#P4 {
    grid-area: P4;
    background-image: url("../images/Project-4.png");
    border-radius: 30px;
    cursor: pointer;
    filter: brightness(50%);
}

#P4:hover{
    filter:brightness(100%);
    transition: filter 0.7s ease-in;
}

#P5 {
    grid-area: P5;
    background-image: url("../images/Project-5.jpg");
    border-radius: 30px;
    cursor: pointer;
    filter: brightness(50%);
}

#P5:hover{
    filter:brightness(100%);
    transition: filter 0.7s ease-in;
}

.project-links{
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-right: 5px;
    align-content: end;
    display: grid;
    text-decoration: none;
}

.grid-header{
    padding: 5px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    background-color: blue;
    border-radius: 25px;
    text-align: center;
}

#contact {
    background-color: black;
    height: 20vh;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-areas:
        "heading info";
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: info;
    border-left: 3px solid white;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info a {
    color: white;
    font-size: larger;
}